<h1>Edit <%= @item.number %> </h1>

<%= form_with model: @item, data: { turbo: false } do |f| %>

	<p>
		<%= f.label :description %> <br />
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.submit 'Edit', class: "btn btn-primary" %>
	</p>

<% end %>