<h1>List of items</h1>

<%= search_form_for @q, data: { turbo_frame: :results} do |f| %>

  <%= f.label :number_cont %>
  <%= f.search_field :number_cont %>

  <%= f.submit %>
<% end %>

<br />
<br />

<%= turbo_frame_tag :results do %>
<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
<br />
  <table class="table">
    <thead>
      <tr>
        <th>Number</th>
        <th>Description</th>
        <th>Address</th>
        <th>Minimal Stock</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= link_to item.number, transactions_item_path(item) %></td>
          <td><%= item.description %></td>
          <td><%= item.address.try(:cell) %></td>
          <td><%= item.minimal_stock %></td>
          <td>
            <div class="btn-group me-2" role="group">
            <%= button_to 'Edit', edit_item_path(item), method: :get %>
            </div>
            <div class="btn-group me-2" role="group">
            <%= button_to 'Delete', item_path(item), data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' }, method: :delete %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
