<h1>New item</h1>

<%= form_with model: @item, data: { turbo: false } do |f| %>
	<p>
		<%= f.label :number %> <br />
		<%= f.text_field :number %>
	</p>

	<p>
		<%= f.label :description %> <br />
		<%= f.text_area :description %>
	</p>

	<p>
		Address: <br />
		<%= f.collection_select :address_id, Address.all, :id, :cell, {:prompt => ' Select address '} %>
	</p>

	<p>
		<%= f.submit 'Create' %>
	</p>

<% end %>