<h1>Transactions</h1>
<br />
<h4>Available amount: <%= @balance %></h4>
<br />
<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>In</th>
      <th>Out</th>
      <th>Date</th>
      <th>Responsible</th>
    </tr>
  </thead>
  <tbody>
    <% @stock.each do |stock| %>
      <tr>
        <td><%= stock.item.try(:number) %></td>
        <td><%= if stock.flow == 'receipt' then stock.quantity end %></td>
        <td><%= if stock.flow == 'expense' then stock.quantity end %></td>
        <td><%= stock.created_at %></td>
        <td><%= stock.responsible %></td>
      </tr>
    <% end %>
  </tbody>
</table>

